@import "../../app-assets/styles/constants.less";

.square-button{
    background-color: transparent;
    border-image-source: url('../../app-assets/images/button/bg-button.png');
    border-image-slice: 6 fill;
    border-image-width: 6px;
    width: 28px;
    height: 28px;
    padding: 1px;
    color: @white-color;
    cursor: pointer; 
}


.square-button > .icon {
    content: url("../../app-assets/images/button/1px.png");
    background-position: center;
    background-repeat: no-repeat;   
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.square-button > .icon-play {
    background-image: url("../../app-assets/images/button/ico-btn-play.png");
}

.square-button > .icon-new-scene {
    background-image: url("../../app-assets/images/button/ico-btn-new-scene.png");
}

.square-button > .icon-new-file {
    background-image: url("../../app-assets/images/button/ico-btn-new-file.png");
}

.square-button > .icon-new-folder {
    background-image: url("../../app-assets/images/button/ico-btn-new-folder.png");
}

.square-button:active {
    border-image-source: url('../../app-assets/images/button/bg-button-active.png');
    padding: 2px 1px 0px 1px;
}