@import "../../../../app-assets/styles/constants.less";

#start-options {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    -webkit-font-smoothing: none;
    padding: @gg-space;
    color: @light-gray-color;
}

#start-options > div {
    width: 100%/3;
}

#start-options > span {
    width: 2 * @g-space + 1;
    top: 8px + @gg-space;
    position: relative;
}

#start-options > span:before {
    content: " ";
    position: absolute;
    border-right: 1px solid @dark-gray-color;
    top: 0px;
    right: @g-space;
    bottom: 2 * @g-space;
}

.welcome .create-new i {
    background-image: url("../../assets/images/button/new-game-btn.png");
    width: 54px;
    height: 32px;
}

.welcome .read-docs i {
    background-image: url("../../assets/images/button/wiki-btn.png");
    width: 64px;
    height: 32px;
}

#start-options button {
    background-color: transparent;
    color: @white-color;
    width: 100%;
    cursor: pointer;
}

.welcome button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: (2 * @g-space) 0;
}

.recent-game button, .open-game button {
    text-align: left;
    padding: @g-space 0; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent ul {
    padding: @g-space 0 0 0;
}

.recent-game {
    padding: 0 @g-space;
    border-bottom: 1px solid @dark-gray-color;
}

.open-game {
    padding: @m-space @g-space;
}

.recent-game i, .open-game i {
    display: inline-block;
    position: relative;
}

.recent-game button :first-child, .open-game button :first-child {
    margin-right: @g-space;
    vertical-align: middle;
}

.recent-game button i:nth-of-type(2) {
    margin-left: @m-space;
    margin-top: @m-space;
}

.recent-game .title, .open-game .title {
    color: @white-color;
}

.recent-game .path {
    color: @gray-color;
}

.ico-cartridge {
    background-image: url("../../../../app-assets/images/icos/ico-cartridge.png");
    width: 18px;
    height: 14px;
}

.ico-folder {
    background-image: url("../../../../app-assets/images/icos/ico-folder.png");
    width: 18px;
    height: 14px;
}

.inline-ico-folder {
    background-image: url("../../../../app-assets/images/icos/inline-ico-folder.png");
    width: 20px;
    height: 8px;
}