@import "../../../../app-assets/styles/constants.less";

#start-options {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    -webkit-font-smoothing: none;
    padding: @gg-space;
    color: @light-gray-color;
    border: 1px solid @darkest-gray-color;
}

#start-options > div {
    width: 100%/3;
    overflow-x: hidden;
}

#start-options > span {
    width: 1px;
    top: 2 * @g-space;
    bottom: 0px;
    position: relative;
    margin: 0px @gg-space;
}

#start-options > span:before {
    content: " ";
    position: absolute;
    border-right: 1px solid @dark-gray-color;
    top: 0px;
    bottom: 2 * @g-space;
}

.welcome .create-new i {
    background-image: url("../../assets/images/button/new-game-btn.png");
    width: 54px;
    height: 32px;
}

.welcome .read-docs i {
    background-image: url("../../assets/images/button/wiki-btn.png");
    width: 64px;
    height: 32px;
}

#start-options button {
    background-color: transparent;
    width: 100%;
    cursor: pointer;
}

.welcome button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: @white-color;
    padding: (2 * @g-space) 0;
}

.recent-game button, .open-game button {
    text-align: left;
    padding: @g-space 0; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: @gray-color;
}

.recent ul {
    padding: @g-space 0 0 0;
}

.recent-game {
    padding: 0 @g-space;
    border-bottom: 1px solid @dark-gray-color;
}

.open-game {
    padding: 0 @g-space;
}

.recent-game i, .open-game i {
    display: inline-block;
    position: relative;
}

.recent-game button :first-child, .open-game button :first-child {
    margin-right: @g-space;
    vertical-align: middle;
}

.recent-game button i:nth-of-type(2) {
    margin-left: @m-space;
    margin-top: @g-space;
}

.recent-game .title, .open-game .title {
    color: @white-color;
}

.recent-game .path {
    color: @gray-color;
}

.ico-cartridge {
    background-image: url("../../../../app-assets/images/icos/ico-cartridge.png");
    width: 18px;
    height: 14px;
}

.ico-folder {
    background-image: url("../../../../app-assets/images/icos/ico-folder.png");
    width: 18px;
    height: 14px;
}

.inline-ico-folder {
    background-image: url("../../../../app-assets/images/icos/inline-ico-folder.png");
    width: 20px;
    height: 8px;
}


.news > .log {
    border-image: url("../../../../app-assets/images/bg/dark-gray-box.png");
    border-image-slice: 3 3 fill;
    border-image-width: 3px 3px;
    padding: @gg-space;
    margin-top: @g-space;
    height: 158px;
    overflow: scroll;
    overscroll-behavior: contain;
}

.log h3 {
    color: @gray-color;
}

.log p {
    color: @dark-gray-color;
    padding-top: @p-space;
    padding-bottom: @gg-space;
}