
@icon-path: "../images/icos";

.ico {
    width: 18px;
    height: 14px;
}

.mini-ico {
    width: 14px;
    height: 14px;
}

.ico-cartridge {
    background-image: url("@{icon-path}/ico-cartridge.png");
    .ico();
}

.ico-folder {
    background-image: url("@{icon-path}/ico-folder.png");
    .ico();
}

.ico-shared {
    background-image: url("@{icon-path}/ico-shared.png");
    .ico();
}

.ico-scene {
    background-image: url("@{icon-path}/ico-scene.png");
    .ico();
}

.ico-file-lvcode {
    background-image: url("@{icon-path}/ico-file-lvcode.png");
    .ico();
}

.ico-file-any {
    background-image: url("@{icon-path}/ico-file-any.png");
    .ico();
}

.ico-file-lvsprite {
    background-image: url("@{icon-path}/ico-file-sprite.png");
    .ico();
}

.ico-plus {
    background-image: url("@{icon-path}/ico-plus.png");
    .mini-ico();
}

.ico-minus {
    background-image: url("@{icon-path}/ico-minus.png");
    .mini-ico();
}

.ico-align {
    background-image: url("@{icon-path}/ico-align.png");
    .mini-ico();
}